<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>

  <title>{% block title %}Share now{% endblock %}</title>

  {% load staticfiles %}

  <!-- CSS file load starts here  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static 'blog/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'blog/css/style.css' %} " type="text/css" rel="stylesheet" media="screen,projection"/>
  {% block custom_css %}{% endblock custom_css %}
  <!-- CSS file load ends here  -->

</head>

<body>

  <!-- facebook comment plugin script -->
  <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.7&appId=1724200447814227";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

  <!-- Header bar Starts here -->
  {% include 'blog/header.html' %}
  <!-- Header bar ends here -->

  <!-- contents block starts here  -->
  {% block blog_list %}
  <div class="container">
      <br>
      <div class="row center">
        <div id="my_profile">
          <div id="profile_head">
            Hi I'M Krishna, a Man on the road of Information Technology Student (Computer Engineering) since 2009. Currently Studying Computer Engineering at Kantipur City College (KCC). Before Joining KCC my Under-Graduate study in Science.I had no idea about what actually is Computer Engineering, I was totally unknown to the (engineering)IT World. Only thing I had at that time was the energy to be something new. When i started Bachelor degree in Computer Engineering from there and since then I found it wonderful; I have been addicted on and happy to be the part of fastest growing computer technology and the Internet.
          <hr />
          </div>
          <div id="profile_image">
            <img id="pp" src="{% static 'blog/images/krishna.jpg' %}" />
          </div>
          <hr />
          <div id="profile_description">
          Save time in Word with new buttons that show up where you need them. To change the way a picture fits in your document, click it and a button for layout options appears next to it. When you work on a table, click where you want to add a row or a column, and then click the plus sign.
Reading is easier, too, in the new Reading view. You can collapse parts of the document and focus on the text you want. If you need to stop reading before you reach the end, Word remembers where you left off - even on another device.

          </div>
        </div>
      </div>
      <br><br>
  </div>
  {% endblock blog_list %}
  <!-- contents block ends here  -->

  <!-- operation button starts here -->
    <div class="fixed-action-btn horizontal click-to-toggle">
      <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li>
          {% if request.user.username %}
          <a href="{% url 'blog:blog-add' %}" class="btn-floating red"><i class="material-icons">add</i></a>
          {% endif %}
        </li>
        <!-- <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
        <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
        <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
      </ul>
    </div>
  <!-- operation button ends here -->

  <!-- colomn divided contents block starts here  -->
    {% include 'blog/colomn_divided_content.html' %}
  <!-- colomn divided contents block ends here  -->

  <!-- footer section starts here -->
  {% block footer %}
    {% include 'blog/footer.html' %}
  {% endblock footer %}
  <!-- footer section ends here -->


  <!-- JS Scripts loads starts here -->
  <script src="{% static 'blog/js/jquery-2.1.1.min.js' %}"></script>
  <script src=" {% static 'blog/js/materialize.js' %} "></script>
  <script src=" {% static 'blog/js/init.js' %} "></script>

  <!-- Materialize css select options script -->
  <script>
     $(document).ready(function() {
        $('select').material_select();
    });
  </script>

  <!-- ckeditor script -->
  <script type="text/javascript" src="{% static '/ckeditor/ckeditor/ckeditor.js' %}"></script>
  <script type="text/javascript" src="{% static '/ckeditor/ckeditor-init.js' %}"></script>
  
  {% block custom_js %}{% endblock custom_js %}
  <!-- JS Scripts loads ends here -->

</body>

</html>
