{% extends 'blog/base.html' %}

{% block title %}New blog{% endblock %}

{% block blog_list %}
<div class="container">
	<div class="row">
		<div class="card white-grey darken-1">
			<div class="card-content black-text">
				<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}	
					{% include 'blog/form_template.html' %}
					<button type="submit" class="waves-effect waves-light btn">Save</button>
					<a class="waves-effect waves-light btn" href="{% url 'blog:home-index' %}">Cancel</a>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock blog_list %}