<nav class="blue-grey lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{% url 'blog:home-index' %}" class="brand-logo">Krishna Karki</a>
      <ul class="right hide-on-med-and-down">
        {% if blogTypes %}
          {% for blogType in blogTypes %}
            <li><a href="{% url 'blog:blog-index' blogType.name %}">{{blogType.name}}</a></li>
          {% endfor %}
        {% endif %}
        {% if request.user.username %}
          <li><a href="{% url 'blog:user-logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'blog:user-login' %}">Login</a></li>
          <li><a href="{% url 'blog:user-signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>

      <ul id="nav-mobile" class="side-nav">
        {% if blogTypes %}
          {% for blogType in blogTypes %}
            <li><a href="">{{blogType.name}}</a></li>
          {% endfor %}
        {% endif %}
        {% if request.user.username %}
          <li><a href="{% url 'blog:user-logout' %}">Logout</a></li>
        {% else %}
          <li><a href="{% url 'blog:user-login' %}">Login</a></li>
          <li><a href="{% url 'blog:user-signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>