/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#my_profile{
	padding: auto;
	margin: auto;
}

#profile_head{
	padding: 20px;
}
#profile_image{
	padding: auto;
	margin: auto;
}
#pp{
	width: 300px;
	height: 300px;
	border-top-left-radius: 50% 50%;
	border-top-right-radius: 50% 50%;
	border-bottom-right-radius: 50% 50%;
	border-bottom-left-radius: 50% 50%;
}